# Node.js
node_modules/

# Visual Studio Code
.vscode/

# IntelliJ IDEA
.idea/

# Log files
*.log

# Environment variables
*.env

# Code coverage
coverage/

# Build artifacts
dist/

# Temporary files
*.swp
*~
